<div class="container">
  <div class="row row-eq-height" style="justify-content: center;">
    <!-- Section: Testimonials v.3 -->
    <section class="team-section text-center my-5">
      <!-- Section heading -->
      <h3
        style="color:#ffa502"
        class="h2-responsive font-weight-bold text-center my-5"
      >
        Viewer's Review
      </h3>
      <!-- Section description -->
      <p class="dark-grey-text w-responsive mx-auto mb-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error
        amet numquam iure provident voluptate esse quasi, veritatis totam
        voluptas nostrum quisquam eum porro a pariatur veniam.
      </p>

      <!--Grid row-->
      <div class="row text-center">
        <!--Grid column-->
        <div class="col-md-4 mb-md-0 mb-5">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg"
                class="rounded-circle z-depth-1 img-fluid"
              />
            </div>
            <!--Content-->
            <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>
            <h6 class="font-weight-bold blue-text my-3">Web Designer</h6>
            <p class="font-weight-normal dark-grey-text">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
              officiis hic tenetur quae quaerat ad velit ab hic tenetur.
            </p>
            <!--Review-->
            <div class="orange-text">
              <mdb-icon fas icon="star"> </mdb-icon>
              <mdb-icon fas icon="star"> </mdb-icon>
              <mdb-icon fas icon="star"> </mdb-icon>
              <mdb-icon fas icon="star"> </mdb-icon>
              <mdb-icon fas icon="star-half"> </mdb-icon>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-md-0 mb-5">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg"
                class="rounded-circle z-depth-1 img-fluid"
              />
            </div>
            <!--Content-->
            <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
            <h6 class="font-weight-bold blue-text my-3">Web Developer</h6>
            <p class="font-weight-normal dark-grey-text">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Ut enim ad
              minima veniam, quis nostrum exercitationem ullam corporis suscipit
              laboriosam, nisi ut aliquid commodi.
            </p>
            <!--Review-->
            <div class="orange-text">
              <mdb-icon fas icon="star"> </mdb-icon>
              <mdb-icon fas icon="star"> </mdb-icon>
              <mdb-icon fas icon="star"> </mdb-icon>
              <mdb-icon fas icon="star"> </mdb-icon>
              <mdb-icon fas icon="star"> </mdb-icon>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg"
                class="rounded-circle z-depth-1 img-fluid"
              />
            </div>
            <!--Content-->
            <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
            <h6 class="font-weight-bold blue-text my-3">Photographer</h6>
            <p class="font-weight-normal dark-grey-text">
              <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>At vero
              eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
              praesentium voluptatum deleniti atque corrupti.
            </p>
            <!--Review-->
            <div class="orange-text">
              <mdb-icon fas icon="star"> </mdb-icon>
              <mdb-icon fas icon="star"> </mdb-icon>
              <mdb-icon fas icon="star"> </mdb-icon>
              <mdb-icon fas icon="star"> </mdb-icon>
              <mdb-icon fas icon="star"> </mdb-icon>
            </div>
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Testimonials v.3 -->
  </div>
</div>
