<mdb-carousel class="carousel slide carousel-fade " [animation]="'fade'">
  <div class="carousel-caption" style="text-align: center;">
    <form
      class="form-inline form-lg justify-content-center"
      style="padding-bottom: 100px;"
    >
      <input
        class="form-control form-control-lg w-50 "
        type="text"
        placeholder="Search Recipes"
        aria-label="Search"
        mdbInput
      />&nbsp;
      <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
    </form>
  </div>
  <mdb-carousel-item>
    <img
      class="d-block w-100"
      src="../../../../assets/resources/background (1).jpg"
      alt="First slide"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      class="d-block w-100"
      src="../../../../assets/resources/background (2).jpg"
      alt="Second slide"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      class="d-block w-100"
      src="../../../../assets/resources/background (3).jpg"
      alt="Third slide"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      class="d-block w-100"
      src="../../../../assets/resources/background (4).jpg"
      alt="Third slide"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      class="d-block w-100"
      src="../../../../assets/resources/background (5).jpg"
      alt="Third slide"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      class="d-block w-100"
      src="../../../../assets/resources/background (6).jpg"
      alt="Third slide"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      class="d-block w-100"
      src="../../../../assets/resources/background (7).jpg"
      alt="Third slide"
    />
  </mdb-carousel-item>
</mdb-carousel>
