<div class="container" style="padding-top: 5vh;">
  <div class="row">
    <ul class="list-group list-group-flush col-md-3">
      <h6>
        <b> MEAL TYPE</b>
      </h6>
      <li class="list-group-item " style="background-color: tomato;">
        <img src="../../../../assets/resources/cereals.png" /><b
          >&nbsp;Breakfast</b
        >
      </li>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/lunch.png" />&nbsp;<b>Lunch</b>
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/icon64 (1).png" />&nbsp;<b
          >Dinner</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/icon64 (5).png" />&nbsp;<b
          >Dessert</b
        >
      </li>
      <br />
      <br />
      <h6 style="text-align: center;"><b> SEASONAL</b></h6>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/confetti.png" /><b
          >&nbsp;Birthday</b
        >
      </li>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/bird-stork.png" />&nbsp;<b
          >Baby Shower</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/santa-hat.png" />&nbsp;<b
          >Christmas</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/pumpkin.png" />&nbsp;<b
          >Halloween</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/icon64 (2).png" />&nbsp;<b
          >Thanks Giving</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/heart.png" />&nbsp;<b
          >Valentine</b
        >
      </li>
    </ul>

    <ul class="list-group list-group-flush col-md-3">
      <h6 style="text-align: center;"><b> DIET & HEALTH</b></h6>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/zucchini.png" /><b
          >&nbsp;Diabetic</b
        >
      </li>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/avocado.png" />&nbsp;<b
          >Low Carb</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/strawberry.png" />&nbsp;<b
          >Low Fat</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/sweet-potato.png" />&nbsp;<b
          >Rich Fiber</b
        >
      </li>
      <br />
      <br />
      <h6 style="text-align: center;"><b> COOKING STYLE</b></h6>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/grill.png" /><b
          >&nbsp;BBQ & Grilling</b
        >
      </li>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/broccoli2.png" />&nbsp;<b
          >Vegetarian</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/cooking.png" />&nbsp;<b
          >Pressure Cook</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/apple.png" />&nbsp;<b
          >Clean Eat</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/clock.png" />&nbsp;<b
          >Quick & Easy</b
        >
      </li>
    </ul>

    <ul class="list-group list-group-flush col-md-3">
      <h6 style="text-align: center;"><b> DISH TYPE</b></h6>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/biscuits.png" /><b
          >&nbsp;Appatizers & Snacks</b
        >
      </li>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/bread.png" />&nbsp;<b>Bread</b>
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/cake.png" />&nbsp;<b>Cakes</b>
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/candy.png" />&nbsp;<b>Candy</b>
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/icon64 (4).png" />&nbsp;<b
          >Cookies</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/pie.png" />&nbsp;<b>Pie</b>
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/pizza-slice.png" />&nbsp;<b
          >Pizza</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/icon64 (3).png" />&nbsp;<b
          >Soup</b
        >
      </li>
      <br />
      <br />
      <h6 style="text-align: center;"><b> SPECIAL & ENTERTAINMENT</b></h6>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/cheers.png" /><b
          >&nbsp;Parties</b
        >
      </li>
    </ul>

    <ul class="list-group list-group-flush col-md-3">
      <h6 style="text-align: center;"><b> INGREDIENT</b></h6>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/beef.png" /><b>&nbsp;Beef</b>
      </li>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/chicken.png" />&nbsp;<b
          >Chicken</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/ham.png" />&nbsp;<b>Pork</b>
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/salmon.png" />&nbsp;<b>Salmon</b>
      </li>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/oyster.png" /><b
          >&nbsp;sea Food</b
        >
      </li>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/shrimp.png" />&nbsp;<b>Shrimp</b>
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/chocolate.png" />&nbsp;<b
          >Chocolate</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/spaghetti.png" />&nbsp;<b
          >Pasta</b
        >
      </li>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/mushroom.png" /><b
          >&nbsp;Mushroom</b
        >
      </li>
      <li class="list-group-item ">
        <img src="../../../../assets/resources/rice.png" />&nbsp;<b>Rice</b>
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/salad.png" />&nbsp;<b
          >Vegetables</b
        >
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/resources/fruit.png" />&nbsp;<b>Fruits</b>
      </li>
    </ul>
  </div>
</div>
