<!-- country display -->

<div class="container">
  <div class="row row-eq-height" style="justify-content: center;">
    <!--Section: Magazine v.2-->
    <section class="magazine-section my-5">
      <!-- Section heading -->
      <h3
        style="color:#c56cf0"
        class="h2-responsive font-weight-bold text-center my-5"
      >
        Country
      </h3>
      <!-- Section description -->
      <p class="text-center dark-grey-text w-responsive mx-auto mb-5">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit id laborum.
      </p>

      <div class="row">
        <ul class="list-group list-group-flush col-md-3">
          <ul class="list-group col-xs-12">
            <ul></ul>
            <li class="list-group-item ">
              <img src="../../assets/resources/sushi.png" /><b
                >&nbsp;Japanese</b
              >
            </li>
            <li class="list-group-item ">
              <img src="../../assets/resources/taj-mahal.png" />&nbsp;<b
                >Indian</b
              >
            </li>
            <li class="list-group-item">
              <img src="../../assets/resources/tea-pot.png" />&nbsp;<b
                >British</b
              >
            </li>
          </ul>
        </ul>
        <ul class="list-group list-group-flush col-md-3">
          <ul class="list-group col-xs-12">
            <li class="list-group-item ">
              <img src="../../assets/resources/shield.png" />&nbsp;<b
                >African</b
              >
            </li>
            <li class="list-group-item ">
              <img src="../../assets/resources/wine-bottle.png" />&nbsp;<b
                >American</b
              >
            </li>
            <li class="list-group-item">
              <img src="../../assets/resources/fast-food.png" />&nbsp;<b
                >French</b
              >
            </li>
          </ul>
        </ul>
        <ul class="list-group list-group-flush col-md-3">
          <ul class="list-group col-xs-12">
            <li class="list-group-item ">
              <img src="../../assets/resources/stall.png" />&nbsp;<b>Thai</b>
            </li>
            <li class="list-group-item ">
              <img src="../../assets/resources/noodles.png" />&nbsp;<b
                >Chinese</b
              >
            </li>
            <li class="list-group-item">
              <img src="../../assets/resources/opera.png" />&nbsp;<b
                >Australian</b
              >
            </li>
          </ul>
        </ul>
        <ul class="list-group list-group-flush col-md-3">
          <ul class="list-group col-xs-12">
            <li class="list-group-item ">
              <img src="../../assets/resources/pizza-slice.png" />&nbsp;<b
                >Italian</b
              >
            </li>
            <li class="list-group-item ">
              <img src="../../assets/resources/paella.png" />&nbsp;<b>Espain</b>
            </li>
            <li class="list-group-item">
              <img src="../../assets/resources/tumpeng.png" />&nbsp;<b
                >Indonisean</b
              >
            </li>
          </ul>
        </ul>
        <ul></ul>
      </div>
    </section>
    <!--Section: Magazine v.2-->
  </div>
</div>
