<!-- speacialcard display -->

<div class="container">
  <div class="row row-eq-height" style="justify-content: center;">
    <!--Section: Magazine v.2-->
    <section class="magazine-section my-5">
      <!-- Section heading -->
      <h3
        style="color:#f53b57"
        class="h2-responsive font-weight-bold text-center my-5"
      >
        Main Categories
      </h3>
      <!-- Section description -->
      <p class="text-center dark-grey-text w-responsive mx-auto mb-5">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit id laborum.
      </p>
      <div class="container" style="align-content: center;">
        <div class="card-deck">
          <!-- Card -->
          <mdb-card class="text-white" bgColor="bg-secondary">
            <mdb-card-header
              >Appatizers <img src="../../../../assets/resources/soup.png"
            /></mdb-card-header>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->

              <!--Text-->
              <mdb-card-text class="text-white">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </mdb-card-text>

              <button mdbBtn color="light" mdbWavesEffect>
                <mdb-icon fas icon="eye" class="mr-1"></mdb-icon>More
              </button>
            </mdb-card-body>
          </mdb-card>

          <!-- Card -->
          <mdb-card class="text-white" bgColor="bg-success">
            <mdb-card-header
              >Desserts <img src="../../../../assets/resources/cupcake.png"
            /></mdb-card-header>
            <!--Card content-->
            <mdb-card-body>
              <!--Text-->
              <mdb-card-text class="text-white">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </mdb-card-text>

              <button mdbBtn color="light" mdbWavesEffect>
                <mdb-icon fas icon="eye" class="mr-1"></mdb-icon>More
              </button>
            </mdb-card-body>
          </mdb-card>

          <!-- Card -->
          <mdb-card class="text-white" bgColor="bg-danger">
            <mdb-card-header
              >Main Dish <img src="../../../../assets/resources/turkey.png"
            /></mdb-card-header>
            <!--Card content-->
            <mdb-card-body>
              <!--Text-->
              <mdb-card-text class="text-white">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </mdb-card-text>

              <button mdbBtn color="light" mdbWavesEffect>
                <mdb-icon fas icon="eye" class="mr-1"></mdb-icon>More
              </button>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
      <br />
      <div class="container" style="align-content: center;">
        <div class="card-deck">
          <!-- Card -->
          <mdb-card class="text-white" bgColor="bg-warning">
            <mdb-card-header
              >Vegetarian
              <img src="../../../../assets/resources/broccoli.png" />
            </mdb-card-header>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->

              <!--Text-->
              <mdb-card-text class="text-white">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </mdb-card-text>

              <button mdbBtn color="light" mdbWavesEffect>
                <mdb-icon fas icon="eye" class="mr-1"></mdb-icon>More
              </button>
            </mdb-card-body>
          </mdb-card>

          <!-- Card -->
          <mdb-card class="text-white" bgColor="bg-dark">
            <mdb-card-header
              >Dinner <img src="../../../../assets/resources/romantic.png"
            /></mdb-card-header>
            <!--Card content-->
            <mdb-card-body>
              <!--Text-->
              <mdb-card-text class="text-white">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </mdb-card-text>

              <button mdbBtn color="light" mdbWavesEffect>
                <mdb-icon fas icon="eye" class="mr-1"></mdb-icon>More
              </button>
            </mdb-card-body>
          </mdb-card>

          <!-- Card -->
          <mdb-card class="text-white" bgColor="bg-info">
            <mdb-card-header
              >Brunch <img src="../../../../assets/resources/baguette.png"
            /></mdb-card-header>
            <!--Card content-->
            <mdb-card-body>
              <!--Text-->
              <mdb-card-text class="text-white">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </mdb-card-text>

              <button mdbBtn color="light" type="button" mdbWavesEffect>
                <!-- (click)="basicModal.show()" -->
                <mdb-icon fas icon="eye" class="mr-1"></mdb-icon>More
              </button>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </section>
    <!--Section: Magazine v.2-->
  </div>
</div>
